// Variables
@import 'variables';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';

body, html {
  font-family: 'Roboto', sans-serif;
}

//
.errors-data{
  padding: 15px;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}
.alert.mensaje{
  top: 2em;
  right: 1em;
  position: absolute;
  z-index: 3000;
}

//errors pagina
.errors-page{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-height: 30px;
  .headline{
    font-size: 6em;
  }
  .error-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

